body {
    font-size: 1.1em;
}

.danger {
    background-color: #c00;
    color: white;
    font-weight: bold;
}

span[data-tooltip]::before {
    content: 'ⓘ';
    color: blue;
    font-weight: bolder;
    padding: 0.3rem;
}
span[data-tooltip]:hover:after {
    content: attr(data-tooltip);
    border: 1px solid black;
    padding: 0.3rem;
    display: block;
    position: absolute;
    border: 1px solid black;
    background: #eee;
}

dialog[open] {
    background-color: rgb(152, 205, 223);
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

#menu[open] {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 1rem;
}

dialog[open]::backdrop {
    backdrop-filter: blur(5px);
    background-color: rgba(0.8, 0.8, 0.8, 0.8);
}

#menu {
    h1, h2, h3, h4, h5, h6 {
        margin: 0;
    }
    &>form, &>div {
        margin: 0 auto;
    }
}

#menucontent {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: space-between;
    max-width: 500px;
}

.mid {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 0.2rem;
}

.large input {
    font-size: 1.2em;
}

#settings {
    padding: 1rem;
    background-color: lightblue;
    border-radius: 0.5rem;
}
#settings>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 300px;
}
#settings>div:not(:first-child)>input {
    width: 50%;
}

input:invalid, label:has(:invalid) {
    background: #f66;
}

.key {
    margin: 1rem;
    font-size: 1.5rem;
    border: 1px solid black;
    font-variant: small-caps;
    font-family: monospace;
    max-width: 5em;
    text-align: center;
    padding: 0.1em 0.5em;
    box-shadow: 2px 2px 2px 2px black;
}

#gamegrid {
    margin: 0.4rem auto;
    display: grid;
    grid-gap: 0.1rem;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    width: calc(min(80vh, 80vw) - 4rem);
}

#gamegrid div {
    background-color: #ccc;
    min-width: 10px;
    aspect-ratio: 1/1;
}
#gamegrid div.active {
    background-color: var(--color);
    min-width: 10px;
    aspect-ratio: 1/1;
}

#topmenu {
    height: 2rem;
    display: flex;
    justify-content: space-between;
}

#responses {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#responses > div {
    flex: 1;
    text-align: center;
    padding: 0.5rem;
    background-color: lightblue;
    border: 1px solid black;
    height: 15vh;

    display: grid;
    align-items: center;
}
#responses > div.pending {
    background-color: skyblue;
}

#responses span {
    font-variant: small-caps;
    font-family: monospace;
    font-size: 3rem;
}

#responses div[data-correct=false] {
    background-color: lightcoral;
}

#runstats {
    max-width: 800px;
}

#runstats, #history {
    min-width: max(50vw, 800px);

    table {
        width: 100%;
        text-align: center;
        border-collapse: collapse;
        border-style: hidden;
    }
    th, td {
        border: 1px solid black;
    }
}


#runstats td[data-pressed]::before {
    content: "⇥(" attr(data-latency) "ms) ";
    text-align: left;
}

#runstats td[data-correct]::after {
    content: "✔";
    color: green;
}

#runstats td[data-incorrect]::after {
    content: "✘";
    color: red;
}

#history, #runstats {
    & > div:first-child {
        display: flex;
        justify-content: space-between;
    }
}